/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background: #001f3f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative; /* Added to position the language switcher relative to the body */
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #001f3f;
}

.content {
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 20px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    color: #FFFFFF;
    background: #007BFF;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    font-size: 0.8rem;
    color: #AAAAAA;
}

#languageSwitcher {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    font-size: 1rem;
    z-index: 2;
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }

    button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
